<div class="container">
  <ng-progress></ng-progress>
<h1>My Goals</h1>
<hr>
<div class="row">
  <div class="col-md-6">
<ul>
  <div *ngFor='let goal of goals;let i = index'>
    <li appStrikeTHrough> {{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
    <button class="btn btn-sm btn-success" (click)='toggleDetails(i)'>Toggle Details</button>
    <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete)='goalDelete($event,i)'></app-goal-detail>
  </div>
</ul>
</div>
<div class="col-md-6">
<app-goal-form (addGoal)= "addNewGoal($event)"></app-goal-form>
</div>
</div>
<p *ngIf='goals.length > 5'>You have too many goals</p>
  <div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>
</div>